
h1 {
    font-family: 'Roboto Slab', serif;
    color:#80cbc4  ;
}

footer {
    padding: 2%;
    text-align: center;
}

.container{
    margin-left: 20px;
 
}

.left {
    float: left;
    margin: 10px;
}

.main {
    padding: 7% 30% 10% 5%;
}

.maincolumn{
    /* background colour for column */
    background-color: white;

}

#name {
    background-color: #26a69a ;
    color: whitesmoke;
    margin: 1rem;
}

/* style the portfolio page */
.portfolioicon {
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 10px;
}

/* Style Contact page */

.btn{
    margin-top: 20px;
}

.formdm {
    width: 70%;
    padding: 50px;
}
