
h1 {
    font-family: 'Roboto Slab', serif;
    color:#80cbc4  ;
}

footer {
    padding: 7%;
    text-align: center;
    background: #81ccfb;


}


.left {
    float: left;
    margin: 10px;
}

.main {
    padding: 7% 30% 10% 5%;
}

.maincolumn{
    /* background colour for column */
    background-color: white;

}

#name {
    background-color: #26a69a ;
    color: whitesmoke;
    margin: 1rem;
}

/* style the portfolio page */
.portfolioicon {
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 10px;
}

/* Style Contact page */

.btn{
    margin: 0px;
    padding: 0PX;
    border: 0;
}

.formdm {
    /* width: 70%; */
    padding: 30px;
}

.footer-icon {
    margin: 20px 10px;
}

@media only screen and (max-width: 400px) {
    .main {
        padding: 10px 10px;
    }
  }