
h1 {
    font-family: 'Roboto Slab', serif;
    color:#80cbc4  ;
}

footer {
    padding: 2%;
    text-align: center;
}

img.bg {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}



.container{
    margin-left: 20px;

   
    
}

.main {
    padding: 7% 30% 10% 5%;
}

.test{
    /* colour for column */
    background-color: white;

}

.test2 {
    width: 350px;
    height: 350px;
    margin: 10px;
    padding: 10px;
}


.formdm {
    width: 70%;
    padding: 50px;
}

.left {
    float: left;
    margin: 10px;
}

#name {
    background-color: #26a69a ;
    margin: 1rem;
}

/* Contact css */

.btn{
    margin-top: 20px;
}

